<div *ngIf="product$ | async as product" class="row mt-3">
  <div class="col-md-6 mb-4 mb-md-0">

    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="{{product.image}}"><img [src]="product.image" class="img-fluid"></a>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <h5>{{product.title}}</h5>
    <p class="mb-2 small">
      <a class="link-secondary" routerLink="/products" [queryParams]="{ categoryId: product.category?.id }">
        {{product.category?.name | uppercase}}
      </a>
    </p>
    <p><span class="mr-1"><strong>{{product.price | currency}}</strong></span></p>
    <p class="pt-1">{{product.description}}</p>
    <hr>
    <button type="button" class="btn btn-secondary mr-1 mb-2">
      <span class="small material-icons">shopping_cart</span>
      Add to cart
    </button>
  </div>
</div>
